.vscode/settings.json

# Miscellaneous
frontend/*.class
frontend/*.log
frontend/*.pyc
frontend/*.swp
frontend/.DS_Store
frontend/.atom/
frontend/.build/
frontend/.buildlog/
frontend/.history
frontend/.svn/
frontend/.swiftpm/
frontend/migrate_working_dir/

# IntelliJ related
frontend/*.iml
frontend/*.ipr
frontend/*.iws
frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/coverage/

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# Linux
frontend/linux/**

# VSCode
frontend/.vscode/settings.json
frontend/.vscode/browse.vc.db-shm
frontend/.vscode/browse.vc.db-wal
frontend/.vscode/browse.vc.db
frontend/.vscode/c_cpp_properties.json
frontend/.vscode/browse.vc.db.lock
frontend/pubspec.lock
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db.lock
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json
